<div id="boards" class="fuse-navy" fxLayout="column" fxLayoutAlign="start center" fxFlex fusePerfectScrollbar>

    <div class="header pt-44 pt-md-88" fxLayout="row" fxLayoutAlign="center center" fxFlex="0 0 auto" [@animate]="{value:'*',params:{delay:'100ms'}}">
        <h1>Training Videos</h1>
    </div>



    <div fxLayout="row wrap" fxLayoutWrap="wrap" class="mt-1">


        <div fxLayout="column" *ngFor="let item of videos">
            <mat-card class="example-card m-20">
                <mat-card-header>
                    <mat-card-title>{{item.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <iframe style="border-width:0px" [src]="item.url | safe" width="item.width" height="item.height"></iframe>

                </mat-card-content>

            </mat-card>


        </div>



    </div>

    <div class="header pt-44 pt-md-88" fxLayout="row" fxLayoutAlign="center center" fxFlex="0 0 auto" [@animate]="{value:'*',params:{delay:'100ms'}}">
        <h1>Training Guides</h1>
    </div>



    <div fxLayout="row wrap" fxLayoutWrap="wrap" class="mt-1">


        <div fxLayout="column">
            <mat-card class="example-card m-20">
                <mat-card-content class="training-guide">
                    <a href="https://client.mylinkedsolution.com/best_practice.pdf" class="href-link" target="_blank"><mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">picture_as_pdf</mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        Best Practice
                    </span></a>
                </mat-card-content>

            </mat-card>


        </div>



    </div>

</div>