<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
      
        <!-- CONTENT -->
        <div class="content p-24">
            <div class="h1" style="text-align: center;">
               Analytics
            </div>        
            <div class="mb-24 mt-20" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-md="row">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div appearance="outline" fxFlex="30" class="pr-4 ml-40">
                    <div class="fuse-card">
                        <div class="p-16">
                            <div class="h1">CXO campaign</div>
                            <div class="h4 secondary-text">Created At Mon, 12:30 PM, July 10 2019</div>
                        </div>

                        <div class="p-16 pt-0" fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="row" fxLayoutAlign="start start">
                                <span class="font-weight-300 font-size-72 line-height-72">1200</span>
                                <span class="font-weight-30 font-size-12 line-height-48 ml-8 mt-28">connections</span>                               
                            </div>
                           
                        </div>                       

                        <div class="card-divider"></div>
                        <div class="p-16 pt-4">
                            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
                                <div>Connections</div>
                                <div fxLayout="row" fxLayoutAlign="start center">                                   
                                    <div class="secondary-text">2435</div>                                    
                                </div>
                            </div>
                            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
                                <div>Sparks</div>
                                <div fxLayout="row" fxLayoutAlign="start center">                                   
                                    <div class="secondary-text">876</div>                                    
                                </div>
                            </div>
                            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
                                <div>Burning Hot</div>
                                <div fxLayout="row" fxLayoutAlign="start center">                                   
                                    <div class="secondary-text">212</div>                                    
                                </div>
                            </div>
                            <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
                                <div>Others</div>
                                <div fxLayout="row" fxLayoutAlign="start center">                                   
                                    <div class="secondary-text">100</div>                                    
                                </div>
                            </div>
                           
                        </div>
                        </div>
                    </div>
                    <div appearance="outline" fxFlex="70" class="pr-4">
                        
                    </div>                           
                </div>              
            </div>       
        </div>
        <!-- / CONTENT -->
    </div>
    
    
    