<!-- BOARDS -->
<div id="boards" class="fuse-navy" fxLayout="column" fxLayoutAlign="start center" fxFlex fusePerfectScrollbar>

    <div class="header pt-44 pt-md-88" fxLayout="row" fxLayoutAlign="center center" fxFlex="0 0 auto"
            [@animate]="{value:'*',params:{delay:'100ms'}}">
        <h1 *ngIf = "!isLoading">Downloads</h1>
        <h1 *ngIf = "isLoading"> please wait ...</h1>
    </div>

    <!-- BOARD LIST -->
    <div class="board-list" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="center center"
            [@animateStagger]="{value:'50'}">

        <!-- BOARD -->
        <div class="board-list-item"    
                fxLayout="column" fxLayoutAlign="center center"
                [@animate]="{value:'*',params:{y:'100%'}}"
                (click) = "download('all')">
                <div class = "h1 mb-20">All</div>             
            <mat-icon class="s-56">receipt</mat-icon>
            <div class="board-name">Download CSV</div>
        </div>
        <div class="board-list-item" *ngFor="let campaign of connectorCampaigns"                
                fxLayout="column" fxLayoutAlign="center center"
                [@animate]="{value:'*',params:{y:'100%'}}"
                (click) = "download(campaign.id)">
                <div class = " mb-20">{{ campaign.name }}</div>             
            <mat-icon class="s-56">receipt</mat-icon>
            <div class="board-name">Download CSV</div>
        </div>
        <!-- / BOARD -->
        
    </div>
    <!-- / BOARD LIST -->
</div>
<!-- / BOARDS -->
    